.home {
  color: white;
  background-color: $beige;
}

.home__landing-page-image {
  height: 300px;
}

.home__section-description {
  max-width: 700px;
}

.home__workexp {
  color: white;
  background-color: $turquoise;
}

.home__projects {
  color: black;
  background-color: $light-grey;
}

.home__card {
  color: black;
}