.home__intro {
  color: white;
  background-color: $beige;
}

.home__workexp {
  color: white;
  background-color: $turquoise;
}

.home__landing-page-image {
  height: 300px;
}

@media (max-width: 768px) {
  .home__landing-page-image {
    width: 100%;
    height: auto;
  }
}